{% extends 'catalog/base.html' %}
{% block content %}
{% for object in object_list %}
     <div class="col">
         <div class="card shadow-sm">
             <div class="card-body">
                 <div class="card shadow-sm">
                 <img class="bd-placeholder-img card-img-top" width="100%" height="100%" src="/media/{{ object.image }}"/>
                     <div class="card-body">
                        <h4 class="card-text">{{ object.name }}</h4>
                        <p class="card-text">{{ object.content }}</p>
                        <p class="card-text">Дата публикации: {{ object.creation_date }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'catalog:detail_blog' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Просмотр</a>
                                <a href="{% url 'catalog:update_blog' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Редактирование</a>
                                <a href="{% url 'catalog:delete_blog' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Удаление</a>
                            </div>
                        </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
{% endfor %}
{% endblock %}